In [1]:
# Cargar a la memoria de trabajo las bibliotecas: Pandas (manejo de datos, 
# Numpy (numerical python) y la biblioteca de gráficas Matplotlib
# Se asignan nombres cortos.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#
# Usar "Shift+Enter" para procesar la información de la celda
#

In [3]:
# Descarga los datos de una estación del Servicio Meteorológico Nacional
# http://smn1.conagua.gob.mx/emas/
# Lee un archivo de texto con la función Pandas "read_csv", con elementos separados por mas de 
# un espacio, brincándose 4 renglones del inicio (encabezados)
df0 = pd.read_csv('alamos.txt', skiprows=21, sep='\s+')
# "Shift + Enter"

NameError: name 'pd' is not defined

In [4]:
# Lee los primeros 5 renglones del archivo
df0.head()
# "Shift+Enter"

   02/01/1961    0  1.1    25     9
0  03/01/1961  0.0  3.4  27.5     9
1  04/01/1961  0.0  2.4  27.5    11
2  05/01/1961  7.4  6.0  22.0  13.5
3  06/01/1961  0.0  4.0  21.5    11
4  07/01/1961  0.0  3.6  23.5     9

In [5]:

# Dar estructura de datos (DataFrame)
df = pd.DataFrame(df0)

In [6]:

# Ver los tipos de datos que Pandas ha reconocido al leer
df.dtypes

02/01/1961     object
0             float64
1.1           float64
25            float64
9              object
dtype: object

In [ ]:
# Combinar las columnas "DD/MM/AAAA" con "HH:MM" y convertirla a variable de tiempo
# Se crea una nueva columna "Fecha" al final con formato de tiempo.
# Eliminamos las dos primeras columnas que ya no necesitaremos
df['FECHA'] = pd.to_datetime(df.apply(lambda x: x['DD/MM/AAAA'] + ' ' + x['HH:MM'], 1), dayfirst=True)
df = df.drop(['DD/MM/AAAA', 'HH:MM'], 1)

df['Fecha']