In [1]:
# Cargar a la memoria de trabajo las bibliotecas: Pandas (manejo de datos, 
# Numpy (numerical python) y la biblioteca de gráficas Matplotlib
# Se asignan nombres cortos.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#
# Usar "Shift+Enter" para procesar la información de la celda
#

In [35]:
# Descarga los datos de una estación del Servicio Meteorológico Nacional
# http://smn1.conagua.gob.mx/emas/
# Lee un archivo de texto con la función Pandas "read_csv", con elementos separados por mas de 
# un espacio, brincándose 4 renglones del inicio (encabezados)
df0 = pd.read_csv('alamos2.txt', skiprows=20, sep='\s+')
# "Shift + Enter"

In [36]:
# Lee los primeros 5 renglones del archivo
df0.head()
# "Shift+Enter"

   01/01/1961    0    2  22.5     6
0  02/01/1961    0  1.1    25     9
1  03/01/1961    0  3.4  27.5     9
2  04/01/1961    0  2.4  27.5    11
3  05/01/1961  7.4    6    22  13.5
4  06/01/1961    0    4  21.5    11

In [37]:
# Dar estructura de datos (DataFrame)
df = pd.DataFrame(df0)

In [38]:
# Ver los tipos de datos que Pandas ha reconocido al leer
df.dtypes

01/01/1961    object
0             object
2             object
22.5          object
6             object
dtype: object